@charset "utf-8";

/* Adobe Fonts 연결 */
@import url("https://use.typekit.net/loh2gbb.css");
/* 프리텐다드 폰트 연결 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* 레이아웃 기초 설계 */
html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  font-family: "pretendard";
  font-style: normal;
  color: #191919;
  background-color: #fff;
  word-break: keep-all;
  overflow-x: hidden;
}

section {
  width: 100%;
  padding: 20rem 0;
  position: relative;
}

.wrap {
  position: relative;
  width: 80%;
  margin: 0 auto;
  max-width: 1464px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* 디자인 시스템 */
:root {
  --main: #dc872d;
}

.title {
  text-align: center;
}

.title.l {
  text-align: left;
}

.title h5 {
  margin-bottom: 2.4rem;
}

/* 텍스트 스타일 */

/* 타이틀 40px */
h2 {
  font-size: clamp(22px, 3vw, 40px);
  font-weight: 700;
  line-height: 1.3em;
  letter-spacing: -0.02em;
  color: #111;
}

.dark h2 {
  color: #fff;
}

/* 서브 타이틀 24px */
h3 {
  font-size: clamp(18px, 2vw, 24px);
  font-weight: 600;
  line-height: 1.32em;
  letter-spacing: -0.02em;
  color: #222;
}

.dark h3 {
  color: #fff;
}

/* 서브 타이틀 20px */
h4 {
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 600;
  color: #222;
  line-height: 1.4em;
}

.dark h4 {
  color: #fff;
}

/* 아이브로우 18px */
h5 {
  font-family: "Outfit", sans-serif;
  font-size: clamp(14px, 2vw, 18px);
  color: var(--main);
  font-weight: 600;
  line-height: 1em;
}

/* 세부 폰트 17px  */
p {
  font-size: clamp(14px, 2vw, 17px);
  font-style: 400;
  line-height: 1.48em;
  color: #333;
  letter-spacing: -0.01em;
}

.dark p {
  color: #b7b7b7;
}

/* 세부 폰트 15px */
.p15 {
  font-size: clamp(12px, 2vw, 14px);
  font-weight: 400;
  color: #333;
  letter-spacing: -0.01em;
  line-height: 1.35em;
}

.dark .p15 {
  color: #b7b7b7;
}

/* 세부 폰트 14px */
.p14 {
  font-size: clamp(12px, 2vw, 14px);
  font-weight: 400;
  color: #333;
  letter-spacing: -0.01em;
}

.dark .p14 {
  color: #b7b7b7;
}

/* 진료 예약하기 버튼 */
.btn {
  font-size: clamp(12px, 2vw, 14px);
  font-weight: 500;
  color: #111;
  border: 1px solid #111;
  padding: 1rem 2.2rem;
  border-radius: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: background-color 0.25s ease, color 0.25s ease;
}

.btn:hover {
  color: #fff;
  background-color: var(--main);
  border: 1px solid #dc872d;
}

.btn .white {
  display: none;
}

.btn:hover .black {
  display: none;
}

.btn:hover .white {
  display: block;
}

.orangebtn {
  font-size: clamp(12px, 2vw, 14px);
  font-weight: 500;
  color: #fff;
  background-color: var(--main);
  padding: 1rem 2.2rem;
  border-radius: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: background-color 0.25s ease, color 0.25s ease;
}

.orangebtn:hover {
  background-color: #f0922f;
}

/* header */
header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 7.5rem;
  transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0.1rem 0.1rem 1.5rem 0.1rem rgba(0, 0, 0, 0.07);
}

header .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  gap: 8rem;
  font-size: 16px;
  font-weight: 500;
  color: white;
}

header .black {
  display: none;
}

header.scrolled {
  background-color: #fff;
}

header.scrolled ul {
  color: #111;
}

header.scrolled .white {
  display: none;
}

header.scrolled .black {
  display: block;
}

/* footer */
footer .textbox {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
